* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #245075;
    --nav-color: #3b77ac;
    --blue: #6ca6d7;
    --lines-color: #72a7d6;
    --footer-color: #83b7e3;
    --yellow: #ffd42f;


}

body {
    background-color: #000;
    color: #fff;
    font-family: sans-serif;

}

ul {
    list-style: none;
}

.main-container {
    width: 60.7%;
    margin: 0 auto;
    background-color: var(--main-color);
    height: 100vh;

}

header .container {
    display: flex;
    align-items: start;
    justify-content: space-between;

    .logo img {
        width: 66%;
        padding-top: 15px;
        padding-left: 30px;
    }

    .search-sec {
        padding: 8px 15px;

        .text-size {
            font-size: 13px;
            text-align: end;
            padding-right: 30px;
            padding-bottom: 5px;

            a {
                color: var(--yellow);
                font-weight: 300;
            }
        }

        .search-button {
            background-color: #444;
            border-radius: 10px;
            box-shadow: 2px 2px 2px rgb(37, 37, 37);
            padding: 10px 35px;

            input {
                padding: 10px 20px;
                border: none;
                border-top: 2px solid rgb(154, 154, 154);
                border-left: 2px solid rgb(154, 154, 154);
                border-bottom: 2px solid rgb(238, 238, 238);
                border-right: 2px solid rgb(238, 238, 238);
            }

            ::placeholder {
                text-align: center;
            }

            button {
                color: #fff;
                background-color: rgb(36, 80, 118);
                padding: 8px 12px;
                border-radius: 8px;
                border: none;
                border-top: 2px solid rgb(192, 192, 192);
                border-left: 2px solid rgb(192, 192, 192);
                border-bottom: 2px solid rgb(108, 108, 108);
                border-right: 2px solid rgb(108, 108, 108);
            }
        }
    }
}


nav {
    width: 85%;
    padding: 10px;
    margin: 20px auto;
    background-color: var(--nav-color);
    border-radius: 6px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.689);


    ul {
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        a {
            color: #fff;
            text-decoration: none;
            font-size: 24px;
            font-weight: 300;
        }
    }
}


.home-contnet {
    display: flex;
    align-items: start;
    justify-content: space-between;
    width: 85%;
    margin: auto;
    padding: 20px 10px;
    text-align: center;

    .sidebar {
        width: 30%;

        li {
            margin-bottom: 10px;
        }

        i {
            color: var(--yellow);
        }

        a {
            color: #fff;
            font-size: 18px;
            font-weight: 300;
        }
    }

    .content {
        width: 70%;
    }

    .yellow-text {
        color: var(--yellow);
        font-size: 20px;
        width: 55%;
        margin: 10px auto;
        font-weight: 300;
        font-style: italic;
        line-height: 30px;
    }
}


.content2 {
    border-top: 4px solid #183853;
    background-color: #fff;

    .container {
        display: flex;
        align-items: start;
        justify-content: space-between;
        color: #000;
        text-align: center;
        width: 85%;
        margin: auto;
        padding: 20px;
    }

    .getting-started,
    .applications {
        margin: 10px;
        border-top: 4px solid var(--lines-color);

        ul {
            list-style: square;
        }

        p,
        li {
            width: 70%;
            margin: auto;
            font-size: 14px;
        }

        a {
            color: var(--blue);
            text-decoration: none;
        }
    }
}


footer {
    background: linear-gradient(180deg, rgba(37, 81, 119, 1) 0%, rgba(52, 116, 173, 1) 80%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100px;


    ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 55%;
        font-size: 18px;
        color: var(--footer-color);
    }

    p {
        color: var(--footer-color);
        margin-top: 20px;
        font-size: 10px;
    }
}