* {
    margin: 0;
    padding: 0;
}

.container {
    background-color: silver;
    margin: 0 auto;
    width: 950px;
    text-align: center;
    margin: 10px auto;
    padding: 10px;
}

.top-nav {
    background-color: green;
    height: 150px;
    margin: 12px;
}

.side-nav {
    display: inline-block;
    background-color: blue;
    height: 300px;
    width: 200px;
}

.main {
    display: inline-block;
    background-color: red;
    height: 400px;
    width: 700px;
    vertical-align: top;
    margin-left: 20px;
    margin-bottom: 10px;
    padding: 12px 0;
}

.sub-content {
    display: inline-block;
    background-color: yellow;
    height: 200px;
    width: 210px;
    margin: 10px 5px;
}

#advertisement {
    background-color: purple;
    height: 120px;
    width: 660px;
    margin: 0 20px;
}